.courses-body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.courses-body .title {
    color: var(--ora);
}

.courses-body .list {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.courses-body .list .course-link {
    border: 1px solid var(--ora);
    margin: 0.5rem 0 0.5rem 0;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--dark-gray1);
}
