
.menu-body {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
}

.menu-body .decision-menu {
    height: inherit;
    padding-top: 2rem;
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}