.problem-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.problem-page .description {
    width: 50%;
    height: 100%;
    padding: 0 2rem 0 2rem;
}

.problem-page .editor {
    width: 50%;
    height: 100%;
    padding: 0 2rem 0 2rem;
    background-color: var(--dark-gray1);
    border-radius: 10px;
}

.problem-page .title h1 {
    color: var(--dark-gray1);
}

.problem-page .title h2 {
    color: var(--ora);
}

.problem-page .title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.problem-page .description .item {
    margin-top: 2rem;
}

.problem-page .description a {
    margin-right: 1rem;
    border: 1px solid var(--ora);
    padding: 0.4rem;
    border-radius: 6px;
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--dark-gray1);
}

.problem-page .description a:hover {
    background-color: var(--ora);
    color: var(--white);
}
