:root {

  /* ---- Colors ----*/
  --white: #ffffff;
  --dark-gray1: #333333;
  --black: #0d0d0d;
  --ora: #ff7219;
  --ora2: #ff9a5a;

  color-scheme: light dark;
  background-color: var(--white);
  color: var(--black);

  /* ---- Fonts ---- */
  font-family: 'Outfit', sans-serif;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}